.playground-container {
  display: flex;
  flex-direction: column;
}

.editor-container {
  display: flex;
  min-height: 60vh;
}

li {
  list-style: none;
}

.file-node {
  background-color: lightyellow;
  cursor: pointer;
}